# Configuraciones de Obsidian
**/.obsidian/appearance.json
**/.obsidian/graph.json
**/.obsidian/workspace.json
**/.obsidian/plugins/obsidian-git/data.json

# elementos generados por Python
**/__pycache__
*.import
