# Configuraciones de Obsidian
Documentación/ItemTracker/.obsidian/appearance.json
Documentación/ItemTracker/.obsidian/graph.json
Documentación/ItemTracker/.obsidian/workspace.json
Documentación/ItemTracker/.obsidian/plugins/obsidian-git/data.json

# elementos generados por Python
/Backend/modules/itemlistmanager/__pycache__
